Students (with .toString() method):<br>
<ul>
    {{#each students}}
        <li><a href="/student/{{id}}">{{this}}</a></li>
    {{/each}}
</ul>
<br>

Students' surnames:<br>
<ul>
    {{#each students}}
        <li>{{this.last_name}}</li>
    {{/each}}
</ul>
