Students (with .toString() method):<br>
<ul>
    {{#each students}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<br>

Students' surnames:<br>
<ul>
    {{#each students}}
        <li>{{this.surname}}</li>
    {{/each}}
</ul>
